# These files should not be tracked because they are legal document;
# should not be replaced with translation, but should add translation.
po/common_legal.xml.ja.po
pot/common_legal.xml.pot
xml/common_legal.xml
po/common_gfdl1.2_i.xml.ja.po
pot/common_gfdl1.2_i.xml.pot
xml/common_gfdl1.2_i.xml

